<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="${root}">Home</a></li>
        <li><a th:href="${root + 'domain/'}">Domains</a></li>
        <li><a th:href="${root + pathgen.get(domain)}" th:text="${domain.qualifier + ' ' + domain.title}"/></li>
        <li class="active" th:text="${profile.title}">Profile</li>
    </ol>

    <div class="page-header">
        <h1 th:text="${profile.title}">Profile</h1>
    </div>

    <p th:if="${profile.description}" class="lead" th:text="${profile.description}"/>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd><code th:text="${profile.id}"/></dd>

        <dt>Domain</dt>
        <dd><a th:href="${root + 'domain/' + domain.id + '/'}" th:text="${domain.title}"/></dd>

        <th:block th:if="${profile.period}">
            <dt>Period</dt>
            <dd><th:block th:text="${profile.period.startDate}"/></dd>
        </th:block>

        <th:block th:if="${!profile.documentation.isEmpty()}">
            <dt>Documentation</dt>
            <dd>
                <ul class="list-unstyled">
                    <th:block th:each="doc : ${profile.documentation}">
                        <li><a th:href="${doc.path}" th:text="${doc.title}"/>
                        <th:block th:if="${doc.description}"><br/><em th:text="${doc.description}"/></th:block></li>
                    </th:block>
                </ul>
            </dd>
        </th:block>

        <dt>Profile identifier</dt>
        <dd>
            <th:block th:if="${profile.identifier.scheme}">Scheme: <code th:text="${profile.identifier.scheme}"/><br/></th:block>
            Value: <code th:text="${profile.identifier.value}"/>
        </dd>
    </dl>

    <th:block th:each="role : ${profile.role}">
        <h2 th:id="${role.type}">Document types <small>(<th:block th:text="${role.type}"/>)</small></h2>

        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd><code th:text="${role.id}"/></dd>

            <th:block th:if="${role.title}">
                <dt>Title</dt>
                <dd><code th:text="${role.title}"/></dd>
            </th:block>

            <th:block th:if="${role.description}">
                <dt>Description</dt>
                <dd><code th:text="${role.description}"/></dd>
            </th:block>
        </dl>

        <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 15%;">Type</th>
            <th style="width: 15%;">Scheme</th>
            <th>Identifier</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="dt : ${role.documentType}">
            <tr>
                <td th:text="${dt.title}"/>
                <td><code th:text="${dt.identifier.scheme}"/></td>
                <td><code th:text="${dt.identifier.value}"/></td>
            </tr>
        </th:block>
        </tbody>
        </table>
    </th:block>

</div>

</body>
</html>