<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="${root}">Home</a></li>
        <li><a th:href="${root + 'transport-profile/'}">Transport profiles</a></li>
        <li class="active" th:text="${tp.title}">Transport profile</li>
    </ol>

    <div class="page-header">
        <h1 th:text="${tp.title}">Transport profile</h1>
    </div>

    <p th:if="${tp.description}" class="lead" th:text="${tp.description}"/>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd><code th:text="${tp.id}"/></dd>

        <th:block th:if="${tp.period}">
            <dt>Period</dt>
            <dd><th:block th:text="${tp.period.startDate}"/></dd>
        </th:block>

        <th:block th:if="${!tp.documentation.isEmpty()}">
            <dt>Documentation</dt>
            <dd>
                <ul class="list-unstyled">
                    <th:block th:each="doc : ${tp.documentation}">
                        <li><a th:href="${doc.path}" th:text="${doc.title}"/>
                        <th:block th:if="${doc.description}"><br/><em th:text="${doc.description}"/></th:block></li>
                    </th:block>
                </ul>
            </dd>
        </th:block>
    </dl>

</div>

</body>
</html>