<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<ul layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="${root}">Home</a></li>
        <li><a th:href="${root + 'domain/'}">Domains</a></li>
        <li class="active" th:text="${domain.qualifier + ' ' + domain.title}">Domain</li>
    </ol>

    <div class="page-header">
        <h1 th:text="${domain.title}">Domain</h1>
    </div>

    <p class="lead" th:if="${domain.description}" th:text="${domain.description}"></p>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd><code th:text="${domain.id}"/></dd>

        <th:block th:if="${!profiles.isEmpty()}">
            <dt>Profiles</dt>
            <dd>
                <ul class="list-unstyled">
                    <th:block th:each="item : ${profiles}">
                        <li><a th:href="${root + pathgen.get(domain, item)}"  th:text="${item.title}"/></li>
                    </th:block>
                </ul>
            </dd>
        </th:block>
    </dl>

</div>

</body>
</html>