<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="${root}">Home</a></li>
        <li class="active">Domains</li>
    </ol>

    <div class="page-header">
        <h1>Domains</h1>
    </div>

    <dl class="dl-horizontal">
        <th:block th:each="it : ${domains}">
            <dt th:text="${it.key}"/>
            <dd>
                <th:block th:each="item : ${it.value}">
                    <a th:href="${root + pathgen.get(item)}" th:text="${item.title}"/>
                </th:block>
            </dd>
        </th:block>
    </dl>

</div>

</body>
</html>